* {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}

table { 
    border-spacing: 10px;
    border-collapse: separate;
}

.navbar-header {
    /*content:url(/skins/chameleon/resources/images/Unter_left_profs_201804_neu.jpg);*/
    /*background: #ffffff;
    background-image: url(/skins/chameleon/resources/images/Unter_left_profs_201804_neu.jpg);*/
}

#middlerowimage {
 top: -30px;
}

body {
   /* background:#ffffff url(/skins/chameleon/resources/images/bg_body_V2.jpg) center 120px no-repeat;*/
    color:#000000;
 /* font-size:.6875em;*/
    line-height:1em;
    overflow:-moz-scrollbars-vertical; /* Keine Spruenge im FF */
  /*  background-color: rgb(255, 255, 255);
    background-position-x: center;
    background-position-y: 120px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url("/skins/aifbportal3/bg_body_V2.jpg?641e5");
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;*/
}

#p-tb, #footer-info, #p-contentnavigation, #p-personal {
    display: none;
}

#footer-info {
    display: none;
}

#Rubrik {
    background: url(/skins/chameleon/resources/images/headline_bg.gif?ad2e1) center left repeat-x;
        background-color: rgba(0, 0, 0, 0);
    font-size: 1em;
    height: 1.45em;
    margin-bottom: 5px;
    background-color: #ffffff;
   font-family: Verdana,Arial,Helvetica,sans-serif;
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
}

span.headline-text {
    background-color: #fff;
    color: #808080;
    font-weight: 700;
    height: 1.45em;
    line-height: 1.45em;
    padding-right: 5px;
}

#content {
    color: black;
    line-height: 1.5em;
}

